 <!--{subtemplate common/header}-->
 
 <a href="plugin.php?id=tsdmpk:main">Numenera in TSDM</a>
 <div class="box menu"><a href="plugin.php?id=tsdmtitle">Main</a><span class="pipe">|</span><a href="plugin.php?id=tsdmtitle&action=headfix_shop">Head</a><span class="pipe">|</span></div>
 
 <style>
	.pool_setting {float:left;padding: 2 5px}
	.pool_setting label {padding-right:5px}
	.clear_box {clear:both}
	.small_pox {width:4px}
 </style>
 
 <div class="box">
	
	Create a char...
	<form class="pure-form">
		<!--<label for="char_name">名字</label>-->
		<div><input type="text" name="char_name" /> is a <input type="text" name="char_name" /> <input type="text" name="char_name" /> who <input type="text" name="char_name" /></div>
		
		<label for=""></label>
		<div>
			<div class="pool_setting">
				<label for="char_pool_might">Might</label>
				<button class="pure-button pure-button-primary">↑</button>
				<span class="small_pox"> </span>
				<button class="pure-button pure-button-primary">↓</button>
				<br />
				<input class="pure-input-rounded" type="text" name="char_pool_might" size="2" value="5"/>
			</div>
			<div class="pool_setting">
				<label for="char_pool_speed">Speed</label>
				<button class="pure-button pure-button-primary">↑</button>
				<span class="small_pox"> </span>
				<button class="pure-button pure-button-primary">↓</button>
				<br />
				<input class="pure-input-rounded" type="text" name="char_pool_speed" size="2" value="5"/>
			</div>
			<div class="pool_setting">
				<label for="char_pool_intellect">Intellect</label>
				<button class="pure-button pure-button-primary">↑</button>
				<span class="small_pox"> </span>
				<button class="pure-button pure-button-primary">↓</button>
				<br />
				<input class="pure-input-rounded" type="text" name="char_pool_intellect" size="2" value="5"/>
			</div>
			<div class="clear_box">
		</div>
	</form>
 </div>
 
 <script>
	
 </script>
 
<!--{subtemplate common/footer}-->